[2021-04-09 16:00] chml opened #1 "feature request: build both sim and ios"
And this open source? I'd love to contribute

[2021-04-12 16:32] swiftyfinch commented on #1
@chml Hi! No, I'm not ready now.
But I'm going to open source in the future.

[2021-04-24 08:33] swiftyfinch commented on #1
I decided to close this issue because the main goal of 🏈 Rugby is optimization.
If we build both SDKs, it will take 2x longer. But you need only one at the present time.
You can switch between SDKs faster enough and all cache will be saved for each SDKs appropriately.

@chml Sorry, I'm not going to add this feature in nearest future.

[2021-04-24 08:33] #1 closed

[2021-10-16 12:31] swiftyfinch opened #55 "🐣 Print all plans"
Add command for print all plans from **.rugby/plans.yml**. Maybe we also can add a description for each plan. It'll be useful if you have a bunch of plans. I have 11 plans for the current project 😀

[2021-10-16 12:34] swiftyfinch opened #56 "🔭 Include Xcode target settings to Pod checksum"
Sometimes **Podfile** hooks change the settings of **Pod** targets and 🏈 **Rugby** doesn't expect that.
This fix should make 🏈 **Rugby** more stable without the need to pass `--ignore-checksums` flag.

[2021-10-16 12:36] swiftyfinch opened #57 "🔭 Add support arm64 for the simulator"
Try to add support arm64 for the simulator on m1. But probably, it should be beyond 🏈 **Rugby** https://github.com/bogo/arm64-to-sim

[2021-10-16 12:38] swiftyfinch opened #58 "🔭 Build both ios and sim SDKs"
Build both ios and sim **SDKs** and merge them into **XCFramework**. Several people requested this feature.
For example, #1 #35 #41

[2021-10-16 12:43] swiftyfinch opened #59 "🔭 Rugby --focus without argument"
Use a new version of the argument parser. I opened the pull request for supporting optional arrays. It'll improve 🏈 **Rugby** API. For example, instead of `rugby --focus ""` we'd use `rugby --focus`
https://github.com/apple/swift-argument-parser/pull/317

[2021-10-29 15:43] swiftyfinch opened #67 "🐛 Stop all subcommands by pressing ^C"
When we are using ✈️ Plans command with a list of shell commands they aren't interrupted by pressing ^C.

I discovered that we need to stop all subprocess manually:
https://github.com/kareman/SwiftShell/issues/77

[2021-10-29 15:52] swiftyfinch opened #68 "🚀 Add ability to use Plans command recursively"
It will be useful to have ✈️ `Plans` command in `plans.yml`:
[code]
The syntax can be extended in the way `Makefile` works.

[2021-10-30 12:05] #67 closed

[2021-11-04 19:05] swiftyfinch commented on #57
Closed, because it's better to take out beyond 🏈 Rugby

[2021-11-04 19:05] #57 closed

[2021-11-10 12:57] swiftyfinch commented on #68
So, I have an idea and I'm going to finish this feature on this weekends.

[2021-11-12 18:43] #68 closed

[2021-11-15 16:59] muukii commented on #58
I hope this feature.

[2021-11-15 17:02] muukii commented on #58
Actually, I did try to create this. but I could not do that.
- I don't know details of handling resources.
- a bit hard to re-writing xcconfig file, also reverting function. I attempted to stop using complex regex.

I'd like to get what we got tasks to achieve this feature.

[2021-11-15 17:39] swiftyfinch commented on #58
Hey, @muukii thank you for supporting me! I appreciate it a lot 👍🏻
It's not easy to make this feature. I need some time to dive into it.

I'm not sure that I understand your last comment. Do you have a draft?
Could you describe how you are going to use this feature? It can be useful for implementation.

- 💡 The first idea I have it's to reuse the current implementation of building for a separate p

[2021-11-16 06:11] faimin opened #81 "Error: Couldn't find pods targets."
[code]

rugby version: `1.13.0`
Xcode: `13.1`
Mac OS: `11.6.1`

test demo： [https://github.com/faimin/ZDFlexLayoutKit](https://github.com/faimin/ZDFlexLayoutKit)  ,  branch: `dev`

[2021-11-16 06:12] cielpy commented on #81
run `pod install` before run `rugby`

[2021-11-16 06:46] #81 closed

[2021-11-17 18:40] muukii commented on #58
thank you for replying
my wip branch is here: https://github.com/muukii/Rugby/tree/muukii/multiple-arch

[2021-11-18 16:02] Wei-Pinkoi opened #83 "duplicate symbol '_NDR_record' in ld: 1 duplicate symbol for architecture x86_64"
cat .rugby/build.log

[code]

from Podfile.lock
- Koloda (5.0.1):
    - pop (~> 1.0)
- FirebaseCrashlytics (7.3.0):
    - FirebaseCore (~> 7.0)
    - FirebaseInstallations (~> 7.0)
    - GoogleDataTransport (~> 8.0)
    - nanopb (~> 2.30906.0)
    - PromisesObjC (~> 1.2)

[2021-11-18 16:23] Wei-Pinkoi commented on #83
log updated.
[build.log](https://github.com/swiftyfinch/Rugby/files/7564316/build.log)
[rawBuild.log](https://github.com/swiftyfinch/Rugby/files/7564317/rawBuild.log)
[rugby.log](https://github.com/swiftyfinch/Rugby/files/7564319/rugby.log)

[2021-11-18 16:49] Wei-Pinkoi commented on #83
Okay, seem that pod Nimble cause the issue.
I disabled Nimble and result is pretty.

[2021-11-18 16:51] Wei-Pinkoi commented on #83
ld: warning: directory not found for option '-F/Users/pinkoi/Library/Developer/Xcode/DerivedData/Test-dkrptqvvvznkzobutyvbqcpbdwok/Build/Products/Debug-iphonesimulator/XCFrameworkIntermediates/FirebasePerformance'
ld: warning: directory not found for option '-F/Users/pinkoi/Library/Developer/Xcode/DerivedData/Test-dkrptqvvvznkzobutyvbqcpbdwok/Build/Products/Debug-iphonesimulator/XCFrameworkInterme

[2021-11-18 18:15] swiftyfinch commented on #83
Hello @Wei-Pinkoi! I'm not sure, is it still the issue for you?

[2021-11-19 19:44] Wei-Pinkoi commented on #83
Sorry for lately reply, could I close the issue and raise new issue when found. Thnkas

[2021-11-20 06:29] swiftyfinch commented on #83
@Wei-Pinkoi Yeah, no problem. Feel free to do it 👍

[2021-11-20 16:41] denandreychuk opened #85 "Cocoapods subspecs"
Installing additional subspecs from the same module break logic. New added subspec not visible inside project.

[2021-11-20 17:05] swiftyfinch commented on #85
@denandreychuk Hello! Could you describe step by step what you do?
I tried adding a new subspec to TestProject and it worked fine.

[2021-11-20 17:51] #58 closed

[2021-11-20 17:53] swiftyfinch commented on #58
@muukii Hello! You can check this feature from master:
[code]

[2021-11-21 18:04] swiftyfinch commented on #83
## Please, feel free to open new issue with these templates:

<img width="407" alt="Screenshot 2021-11-21 at 21 01 19" src="https://user-images.githubusercontent.com/64660122/142773605-3715f9cb-e4d8-4c8b-8ed2-fc2ce9668263.png">

[2021-11-21 18:04] #83 closed

[2021-11-21 18:04] swiftyfinch commented on #85
## Please, feel free to open new issue with these templates:

<img width="407" alt="Screenshot 2021-11-21 at 21 01 19" src="https://user-images.githubusercontent.com/64660122/142773605-3715f9cb-e4d8-4c8b-8ed2-fc2ce9668263.png">

[2021-11-21 18:04] #85 closed

[2021-11-22 07:48] prgorasiya opened #87 "Error on building project after integrating Rugby"
**Did you already try Rugby doctor?**
Yes

**Describe the bug**
I have 2 different projects(lets call them Project A & B) and they share some pods. I integrated rugby to first project A successfully without any issue.
However, after integrating rugby with my 2nd project B I am getting this error when I try to build project B:
[code]

I dont know what framework is this, doesnt look like any from my

[2021-11-22 15:33] Wei-Pinkoi commented on #83
@swiftyfinch
Just the record, for people who suffering this issue.
[code]
At plan.yml, exclude add those pods.
[code]

ref: https://githubmemory.com/repo/Quick/Nimble/issues/913

[2021-11-22 17:21] swiftyfinch commented on #83
Thanks a lot @Wei-Pinkoi 👍
Feel free to ask any questions about `plans.yml` in discussions.

[2021-11-22 17:25] swiftyfinch commented on #87
Hello @prgorasiya, I will look through that soon.

I wonder if you can share your project's Podfile?
Could you describe your project's folder structure? How do you share pods between them?

[2021-11-23 03:35] prgorasiya commented on #87
Hi @swiftyfinch
You can find pods used in cache-yml file.
What do you mean by project's folder structure?

Both projects are separate and when I say they share some pods means they use some pods with in their projects, not like a shared framework/target. Both projects are independent.
Example: both projects use some firebase SDKs

So I guess after integrating rugby they would share the cache, but

[2021-11-23 06:50] swiftyfinch commented on #87
@prgorasiya Thank you for the details.
And sorry, I need more time to check this issue.

[2021-11-23 07:51] prgorasiya commented on #87
sure, no prob.
thanks

[2021-11-23 08:18] swiftyfinch commented on #87
@prgorasiya What configuration do you build? Maybe it's not `Debug`? So, you should switch it to `Debug` in your Xcode project or use the command `rugby cache --config YOUR_CONFIGURATION`.

And are you sure that you open `.xcworkspace`? Also, such a problem can be if you open just `.xcodeproj`.

[2021-11-23 19:19] swiftyfinch commented on #87
I couldn't find issues in your pods configuration. That all seems OK.
Also, did you try to build that project without 🏈 Rugby? Is everything good?

[2021-11-24 02:56] Wei-Pinkoi commented on #87
@prgorasiya
I have so complexity podfile, but I work fine on 1.14.0/1.13.0
[PodfileExample.txt](https://github.com/swiftyfinch/Rugby/files/7592405/PodfileExample.txt)

But actually some pod will fail, you can exclude those pod
ref: https://github.com/swiftyfinch/Rugby/issues/83

Hope all well

[2021-11-24 14:22] swiftyfinch opened #90 "🐛 Update Xcode project after shell commands"
Oh, I think there is a bug with saving or closing the Xcode project during all plans.
If you split plans and run them separately everything should be fine.

[code]

[code]

_Originally posted by @swiftyfinch in https://github.com/swiftyfinch/Rugby/discussions/88#discussioncomment-1692147_

[2021-11-24 14:26] swiftyfinch commented on #90
That is because 🏈 Rugby caches Xcode projects during all plans.
Need to reset that cache after each `shell` command.

[2021-11-25 03:10] prgorasiya commented on #87
@swiftyfinch yes i am building for `debug` only, and also opening `.xcworkspace`. Yet its giving me error on building.
I can build the project successfully without rugby.

[2021-11-25 03:11] prgorasiya commented on #87
@Wei-Pinkoi I'll try your approach.

[2021-11-25 11:19] prgorasiya commented on #87
@swiftyfinch just to add on, I deleted `.rugby` folder from my project B, cleaned the project, deleted derived data folder, then tried to build the project, it was successful.
Then I integrated rugby using `pod install && rugby`, tried to build the project but got the same error as I have highlighted.

[2021-11-25 18:23] swiftyfinch commented on #87
@prgorasiya Sorry, I don't have new ideas.

Can I ask you to prepare an example application? You can base it on `TestProject` from this repo if you wish.
Feel free to fork this repository and break `TestProject` with your configuration. And I will try to fix it.

[2021-11-25 19:00] #90 closed

[2021-11-26 08:09] prgorasiya commented on #87
@swiftyfinch I upgarded to V1.14.0 and I can successfully build both projects after selecting any iphone simulator.
However, if i select a physical device or Any iOS Device(arm 64) option from run options I am getting the same error.
I even completely re-integrated rugby with both my projects but no luck. Could this also happen with `TestProject`? I havent tried that.

Besides that, may I know wha

[2021-11-26 08:36] prgorasiya commented on #87
@swiftyfinch I managed to replicate the issue with a sample project.
Please find attahced zip file, run `pod install && rugby` then open the project and select Any iOS Device(arm64) as a run destination and you'll see the error. The error can also be replicated by selecting a physical device.

Sample Project:
[AA.zip](https://github.com/swiftyfinch/Rugby/files/7607360/AA.zip)

[2021-11-26 15:29] swiftyfinch commented on #87
First of all, thank you for your investigation!

That's something 👍

You need to use such command `pod install && rugby -s sim ios`. Check out [docs](https://github.com/swiftyfinch/Rugby/blob/main/Docs/Cache.md#build-both-sdks-sim-x86_64-ios-arm64) for more information.

This block converts all warnings to errors:
[code]

This block for building x86_64 on m1 MacBook:
[code]

[2021-11-26 18:44] swiftyfinch opened #93 "🔭 Support any combinations of sdk, arch, and config"
## Is your feature request related to a problem? Please describe.
At present time, 🏈 Rugby can't build different combinations of sdk, arch, and config.
But there are few requests for this feature.

## Describe the solution you'd like
`todo:` Need to think about:
- [ ] How to change command interface?
- [x] How to change the path to building folders (Debug-iphonesimulator-ARCH)?
- [x] How to build

[2021-11-27 03:21] prgorasiya commented on #87
@swiftyfinch thanks for the detailed info.
Should I use `pod install && rugby --config Debug` if I want to run my project on simulator and a physical device?
Mainly I sometime test my app on device and other times on simulator, so which command should I use so that I can build pods in one-shot?

[2021-11-27 09:09] Wei-Pinkoi opened #96 "🐛 ld: bitcode bundle could not be generated"
## Did you already try Rugby doctor?
Yes

## Describe the bug
1. Rugby cache successful
2. Xcode archive app hit the error
`
ld: bitcode bundle could not be generated because '.rugby/build/Debug-iphoneos/SnapKit/SnapKit.framework/SnapKit' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build file '.rugby/build/Debug-iphoneos/Sna

[2021-11-27 19:00] swiftyfinch commented on #87
@prgorasiya
If you want to build for simulator only it's better to use `pod install && rugby`.
It equals to `pod install && rugby cache --sdk sim --config Debug`
That's will be enough and the build will take less time.

But if you want to build for simulator and device you need to use `pod install && rugby -s sim ios`.

[2021-11-27 19:52] swiftyfinch commented on #96
Could you describe this issue with the standard bug template?
I need to know what steps you did to reproduce this issue.

[2021-11-28 17:59] swiftyfinch opened #97 "🔭 Add option `--path` for Plans command"
## Is your feature request related to a problem? Please describe.
It can be useful to keep common `plans.yml` under git and also have one private plans file per user.

## Describe the solution you'd like
To implement that strategy we need to add `--path` option for ✈️ `Plans` command.
Need to think about expanding different shell shortcuts like `~`.

## Describe alternatives you've considered
I di

[2021-11-29 02:50] prgorasiya commented on #87
@swiftyfinch I am still unable to build Project B, even after using the command `pod install && rugby -s sim ios`.
I am getting the same error.
I deleted `.rugby` folder from my project folder and tried to integrate it again. Upon comparing `.rugby` folder of Project B with Project A, I can see that there's no `build` forlder generated for project B. I tried multiple times but its the same.
Could

[2021-11-29 10:57] swiftyfinch commented on #87
@prgorasiya Hey! Are you sure that you deleted the whole `.rugby` folder? May only `.rugby/build`?
If you didn't delete `.rugby/cache.yml` file it is can be an issue.
Please, use `rugby clean` for that if you didn't.

Could you send me your `.rugby/rugby.log` file? Or you can check it out by yourself. Do you see there `[Build] Skip` line?

[2021-11-30 01:44] prgorasiya commented on #87
@swiftyfinch yes i did delete entire `.rugby` folder. I even tried `rugby clean` and tried to reintegrate rugby, but in all cases build folder is not getting generate for this project and I am still getting the same error.

Here is the log file.
[rugby-log.txt](https://github.com/swiftyfinch/Rugby/files/7622273/rugby-log.txt)

[2021-11-30 07:47] swiftyfinch commented on #87
@prgorasiya Please, try this command to find the build directory path
[code]
What do you see there?

[2021-11-30 08:11] swiftyfinch commented on #87
And will be great if you can provide an example project for reproducing the issue.
I didn't see anything similar before.

[2021-11-30 09:22] Wei-Pinkoi commented on #96
updated.

[2021-11-30 13:16] swiftyfinch commented on #96
@Wei-Pinkoi Thank you for the description!
There was a discussion about this https://github.com/swiftyfinch/Rugby/discussions/8#discussioncomment-729481

But now I'm not sure, why you build for `Debug-iphoneos`?
Did you try to build like that `rugby cache --config Release` and enable bitcode for this configuration?
Anyway, I don't see there a 🏈 Rugby bug. You can open a new discussion or a feature

[2021-11-30 13:46] swiftyfinch commented on #96
Yeah, please open a discussion for that reason if you want to.

If you have two different targets with different values I think you just need to change it 🙂
🏈 Rugby does not change how each target should be built.

[2021-11-30 13:47] #96 closed

[2021-11-30 13:48] prgorasiya commented on #87
Hi @swiftyfinch this the out put of the command, I ran the command within project B's folder, I hope I did the right thing.
My project B's folder name is 2 words with a space in between, just to add on.
[code]
Its wierd that at the end of the output it prints partial name of project B's folder.

Also, this is zip file containing 2 projects which uses same pods. Try to play around with building for

[2021-11-30 14:28] swiftyfinch commented on #87
@prgorasiya Thank you for more info! You can check out pull request #99
Please, try to install `mint install rugby@bugfix/missing_build_folder`

[2021-11-30 16:16] #87 closed

[2021-12-01 02:53] prgorasiya commented on #87
Hi @swiftyfinch thanks for the quick fix. Its working fine now. Just a question, if i clean my project and also delete everything from derived data folder, do I need to run `pod install && rugby -s sim ios` again?

[2021-12-01 05:26] swiftyfinch commented on #87
@prgorasiya No, you don't need it.
That is because 🏈 Rugby keeps all frameworks in the `.rugby/build` folder.

[2021-12-01 19:26] swiftyfinch commented on #1
@chml #84

[2021-12-02 06:23] prgorasiya commented on #87
@swiftyfinch I just got one more question. When I try to archive I am getting the same error.
`ld: library not found for -lAppAuth`

So do I need to build rugby for any other configuration? So that I can run on simulator, device and also archive to release a dev build for testers?

[2021-12-02 11:11] swiftyfinch commented on #87
@prgorasiya Yeah, but there are some problems with that.

Discussion:
https://github.com/swiftyfinch/Rugby/discussions/88#discussioncomment-1687810

Requests:
#93

Check out documentation:
[Build both sdks (sim x86_64, ios arm64)](https://github.com/swiftyfinch/Rugby/blob/main/Docs/Cache.md#build-both-sdks-sim-x86_64-ios-arm64)
[Build for specific configuration](https://github.com/swiftyfinch/Rugb

[2021-12-02 12:55] prgorasiya commented on #87
@swiftyfinch so is it under development? Or is there a workaround I can use, in the mean time, to build for archive? So that I can successfully archive dev build. Currenlty, in order to deploy a dev version, I had to remove rugby from my project because of the error.

[2021-12-02 13:42] swiftyfinch commented on #87
@prgorasiya You can try to install the dev version: `mint install rugby@main -f`
And then use 🏈 Rugby for archive builds like this: `rugby cache --sdk ios --config Release --bitcode`

Yeah, the main problem, for now, is building different combinations of sdk, config, and arch.
You can build any configurations, but separately https://github.com/swiftyfinch/Rugby/discussions/88#discussioncomment-168

[2021-12-02 14:05] prgorasiya commented on #87
@swiftyfinch it works for me, but then I am getting error when I run on simulator.
Building rugby with different build config also doesnt work for me.

[2021-12-02 16:12] swiftyfinch commented on #87
@prgorasiya I think as a workaround you can build all your combinations separately:
[code]

[2021-12-04 05:00] prgorasiya commented on #87
@swiftyfinch you mean i should run first command before archiving dev build for testers?

[2021-12-04 06:30] swiftyfinch commented on #87
Yes, but '--bitcode' option has not released yet. You can try it 'mint install swiftlyfinch/rugby@main’

[2021-12-08 12:19] gf0x commented on #57
Hello!
Could you please provide some tips on how to make Rugby work on M1 hosts? As for now no errors/warnings appear, only successful output in terminal. However, nothing no changes in `.rugby/build` folder take place.

[2021-12-08 17:53] swiftyfinch commented on #57
@gf0x Hey! Do you see a folder that contains `x86_64` in `.rugby/build`?
If you want to build for m1 native architecture you need to use the `arch` option.

For example:
[code]

If it won't help you please open a new discussion/issue.

[2021-12-22 04:12] Wei-Pinkoi commented on #93
Memo:
`.rugby/build/Debug-maccatalyst/HTMLEntities`
iOSAppOnMac -> maccatalyst

[2021-12-22 05:42] swiftyfinch commented on #93
@Wei-Pinkoi Hey! What do you mean?

[2021-12-22 08:07] Wei-Pinkoi commented on #93
I build iOS app with Mac, and get this error message.

So I think it should support the following on future.
iOSDevices/iosSimulator/maccatalyst

[2021-12-22 10:43] swiftyfinch commented on #93
OK, but I think it's not related to this feature

[2021-12-23 10:54] Wei-Pinkoi commented on #93
Okay, I totally reply at wrong place.
But hope this feature coming.

[2021-12-30 18:25] nonameplum opened #111 "🔭 Force exclude a dependency from a plan"
## Is your feature request related to a problem? Please describe.
I would like to have the ability to _force exclude_ a specific dependency even though it is included in the plan by
[code]

## Describe the solution you'd like
[code]

[2021-12-30 19:13] swiftyfinch commented on #111
@nonameplum Hello!
Now you can add exclude to the plan. Like this:
[code]

---

In this solution, there is a problem. Your plan can contain many different commands and also, some of them can be duplicated (like `drop` command). So, it's not easy to add a common interface for different user plans. And it's not clear how to manage additional flags if command duplicates.
[code]

[2021-12-30 19:16] swiftyfinch commented on #111
But anyway, thank you for your request, and feel free to add some more info or implement a draft.

[2022-01-12 15:57] Lutzifer opened #112 "🔭 Add option --quiet for Cache command"
## Is your feature request related to a problem? Please describe.
When using rugby to speed up build on CI, the progress generates a very long log.

## Describe the solution you'd like
When I specify '--quiet', the progress log is not shown.

## Describe alternatives you've considered
I considered filtering the output on CI, but think that doing it with a flag is the better solution

[2022-01-13 07:50] XiFengLang opened #113 "🐛 The operation couldn’t be completed. (Rugby.Lockfile.LockFileError)"
## Did you already try Rugby doctor?
Yes, and without any error message.

## Describe the bug

I executed `rugby cache --arch arm64 --sdk ios` after executing `pod install`, and an error occurred.

[code]

I don't know why I'm getting this error all of a sudden, because I used to use rugby smoothly. I've tried `rugby clean` or manually deleting files other than `plan.yml`, and even reinstalling ru

[2022-01-13 08:17] XiFengLang commented on #113
Empty the DerivedData directory worked for me。 `$HOME/Library/Developer/Xcode/DerivedData`

[2022-01-13 13:56] swiftyfinch commented on #113
@XiFengLang Did you already manage that issue?
Rugby can't parse your `Podfile.lock`.

If you can't share it, could you debug it yourself?
1. Clone Rugby
2. In Rugby scheme you need to select `Options -> Working Directory` and input your project directory
3. Then just run the scheme and check the error

[2022-01-17 03:43] XiFengLang commented on #113
Ok, if I can meet it, I will debug locally.

[2022-01-19 16:51] devahmedshendy opened #117 "🐛 Build target extension failed: framework not found Alamofire"
## Did you already try Rugby doctor?
Yes

## Describe the bug
This is my first time using Rugby on a project, and it only has one extension called `OneSignalNotificationServiceExtension`, I did run `rugby` command then after building  the project, I got following error:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Reinstall pods then run Rugby
[code]

3. Open and build the project
4

[2022-01-19 17:50] devahmedshendy commented on #117
@swiftyfinch
This is everything under `.rugby` directory for this project:
[code]

[2022-01-19 17:51] devahmedshendy commented on #117
Btw this is the output of running `rugby` command:
[code]

[2022-01-19 17:56] swiftyfinch commented on #117
It's very strange why Rugby couldn't create a build folder as `.rugby/build`.
Please, try to remove the `.rugby/cache.yml` file and run again rugby.
Maybe you removed that directory manually?

[2022-01-19 18:02] devahmedshendy commented on #117
Same as before, and I am sure I didn't delete it manually as I never checked build folder:
[code]

[2022-01-19 18:05] devahmedshendy commented on #117
@swiftyfinch Oh one moment, I am using fishshell, let me repeat with bash only.

[2022-01-19 18:07] devahmedshendy commented on #117
No same result with bash.

[2022-01-19 18:09] swiftyfinch commented on #117
Okay, thanks. I will try to reproduce it with your Podfile

[2022-01-19 18:11] devahmedshendy commented on #117
@swiftyfinch I edited the main post to add the platform and source lines of Podfile, sorry forgot to add them.

[2022-01-19 18:31] devahmedshendy commented on #117
@swiftyfinch
Btw, I tried to test this project [open-event-organizer-ios](https://github.com/fossasia/open-event-organizer-ios), and the test project on your repo, and still no build directly is created .. I feel it has something to do with Swift version .. let me know  if I can help solve this issue.

[2022-01-19 19:02] bharathns commented on #113
I am seeing this issue i cleared the deriveddata but did not help

[2022-01-20 07:59] swiftyfinch commented on #113
Could you share `EXTERNAL SOURCES` block from your `Podfile.lock`?
I think there is an unexpected fields which 🏈 Rugby just can't parse.

[2022-01-20 08:15] XiFengLang commented on #113
Also need to execute `cmd + shift + K` to clean builds.

[2022-01-20 08:23] XiFengLang commented on #113
I tried these steps and it worked out reassuringly, although I don't know what the problem is.

1. remove `$HOME/Library/Developer/Xcode/DerivedData`
2. Run `rugby clean` or manually deleting files other than `plan.yml`
3. Run `cmd + shift + K` to clean builds.

[2022-01-20 09:22] swiftyfinch commented on #113
@Xifengling @bharathns Thanks for description, but unfortunately I need more information.

Let's clear it up. I have a lot of projects which using Rugby and also we have CI job for each change.
And everything is fine. So, there is a special case of parsing `Podfile.lock` which I didn't see before.

I can't fix problem without reproducing it. Could you share your `Podfile.lock` or part of it with `

[2022-01-20 09:37] swiftyfinch commented on #117
@devahmedshendy Do you use Xcode 12.4 Command Line Tools?

[2022-01-20 10:05] devahmedshendy commented on #117
@swiftyfinch I never had a task to use it, let me know what to do and I will.

[2022-01-20 11:31] swiftyfinch commented on #117
@devahmedshendy Check it out in your `Xcode -> Preferences`:
<img width="942" alt="Screenshot 2022-01-20 at 14 30 54" src="https://user-images.githubusercontent.com/64660122/150330727-99c4ee5f-d496-4043-99e6-a3b5c9673368.png">

[2022-01-20 11:33] devahmedshendy commented on #117
@swiftyfinch it points to `/Applications/Xcode.app`

[2022-01-20 11:35] devahmedshendy commented on #117
Here it is:
![Screen Shot 2022-01-20 at 1 34 05 PM](https://user-images.githubusercontent.com/22206851/150331427-8639eca2-d0cc-41bd-b4cb-57caddfb098e.png)

[2022-01-20 14:53] bharathns commented on #113
No issues sorry could not update @bharathns i am debugging it will let you know cannot share the podfile.lock thanks for the reply

[2022-01-20 14:56] bharathns commented on #113
I know the reason too. Its this piece of code
object[.externalSources]  this returns values but
This ((object[.externalSources] ?? [:]) as? [String: [String: String]]) returns nil so the mapping is not happening
private static func parseExternalSources(_ object: [String: Any]) throws -> [String: [String: String]] {
        try ((object[.externalSources] ?? [:]) as? [String: [String: String]])

[2022-01-20 15:58] swiftyfinch commented on #117
Could you print your `echo $PWD` variable? Is it the same as `pwd` output?
[code]
[code]

[2022-01-20 16:01] devahmedshendy commented on #117
@swiftyfinch
Yeah, both are the same .. whether in fishshell or bash shell.

[2022-01-20 16:05] devahmedshendy commented on #117
@swiftyfinch
Umm, I suspected something and wanna share it with you ..

I don't think I tested this with bash shell, look what I get when I print `$SHELL`
[code]

I will read how to force using bash shell.

[2022-01-20 16:15] devahmedshendy commented on #117
Do you have an idea how to test if this is an issue related to shell type or not?

[2022-01-20 16:16] swiftyfinch commented on #117
There was pull request for fish shell #77. I think it should work good in this shell.

Could you try to build without Rugby, but with xcodebuild like this:
[code]
But you need to change `-scheme RugbyPods` with any available scheme in your `Pods` project.

[2022-01-20 16:19] swiftyfinch commented on #117
Or you can run Rugby project and add breakpoint here:
<img width="863" alt="Screenshot 2022-01-20 at 19 17 45" src="https://user-images.githubusercontent.com/64660122/150378347-d8352c25-f13f-431b-9786-e7b3cb13ed13.png">
Then check out `commandWithArgs` variable.

In Rugby scheme you need to select `Options -> Working Directory` and input your project directory.

[2022-01-20 16:26] devahmedshendy commented on #117
@swiftyfinch
For this command:
[code]
It finished saying `** BUILD SUCCEEDED **` with many output logged, which to print?

Btw, no `build` directory is created.

[2022-01-20 16:30] devahmedshendy commented on #117
There are many CompileC lines printed, if something is compiled, where the result of this stored.

[2022-01-20 16:30] devahmedshendy commented on #117
Regarding the breakpoint suggession, let me open the project and see how to run it.

[2022-01-20 16:32] swiftyfinch commented on #117
In the header of the log you can find `SYMROOT` variable.
What did you see there? Is it looks like your `pwd`\.rugby/build?

[2022-01-20 16:34] devahmedshendy commented on #117
[code]

I even created build directory manually and run the command again for another pod scheme and didn't work too.

[2022-01-20 16:37] devahmedshendy commented on #117
@swiftyfinch
For trying the breakpoint, Xcode complains that I need to deployment target lower than `11.0`.

[2022-01-20 16:48] devahmedshendy commented on #117
I will be out for like 4 hours and I will continue trying when I come back.

But here is the result (I did added the project working directory in edit scheme)
![Screen Shot 2022-01-20 at 6 46 05 PM](https://user-images.githubusercontent.com/22206851/150383733-3f50dcf2-d710-4b47-a14d-833795911fca.png)

[2022-01-20 16:50] devahmedshendy commented on #117
@swiftyfinch what do you mean by next one?

[2022-01-20 16:52] swiftyfinch commented on #117
You just need to continue) and check out the next breakpoint

[2022-01-20 16:53] devahmedshendy commented on #117
Ah I got it, I will continue once I come back.

[2022-01-20 17:27] swiftyfinch commented on #117
Also, you can find something like this in your log:
[code]
Is there the same path prefix as in `SYMROOT`?
For me it's `~/Developer/Repos/SwiftyFinch/Rugby/TestProject/.rugby/build`

[2022-01-20 18:20] swiftyfinch commented on #113
@bharathns @XiFengLang Please, try this patch and let me know if it helps:
[code]

[2022-01-20 18:39] bharathns commented on #113
works!! @swiftyfinch  awesome thanks

[2022-01-20 18:48] #113 closed

[2022-01-20 18:50] swiftyfinch commented on #113
Okay 🚀
Please, use `mint install swiftyfinch/rugby@main` before I can release new version 👍

[2022-01-20 21:05] devahmedshendy commented on #117
@swiftyfinch

This is the output for printing `commandWithArgs`:
[code]

[2022-01-20 21:11] devahmedshendy commented on #117
About your last comment:
[code]

This is weird, why <pwd-path> is repeated.

[2022-01-21 06:00] swiftyfinch commented on #117
So, we've finally found the problem! 🎉
I think something wrong with Xcode global variables. But I don't know what.

[2022-01-21 06:09] devahmedshendy commented on #117
@swiftyfinch I cannot find something called "Xcode global variables" so I learn about this.

[2022-01-21 06:22] swiftyfinch commented on #117
Also, I noticed that there are quotes in the middle of your path. That's strange 🤔
`<pwd-path>/\` `"` `<pwd-path>/.rugby/build\` `"` `/Debug-iphonesimulator`

[2022-01-21 06:26] swiftyfinch commented on #117
Probably that's related to #77

[2022-01-21 06:47] devahmedshendy commented on #117
@swiftyfinch
This breakpoint doesn't work, and since yesterday `rawBuild.log` never created when I run rugby from Xcode.
![Screen Shot 2022-01-21 at 8 46 09 AM](https://user-images.githubusercontent.com/22206851/150479734-a6702949-60d9-4b52-84bf-f94cf6634664.png)

[2022-01-21 06:51] devahmedshendy commented on #117
@swiftyfinch How to run rugby project from command line rather than Xcode?

[2022-01-21 06:53] devahmedshendy commented on #117
@swiftyfinch
I run this command and removed the `"` from `SYMROOT` variable and we have results now under `build` directory:
[code]

[code]

[2022-01-21 06:54] swiftyfinch commented on #117
@devahmedshendy You can use `rugby clean` and the build should start again from zero.

[2022-01-21 06:55] devahmedshendy commented on #117
@swiftyfinch
I mean I want to edit this part in Xcode, but run rugby from terminal than Xcode itself:
[code]

[2022-01-21 06:55] swiftyfinch commented on #117
Nice! So, we need to remove these quotes. But also, we need to check that projects with spaces in the path will build successfully.

[2022-01-21 06:56] devahmedshendy commented on #117
@swiftyfinch I can rename my project with spaces so final solution will work in both situation.

[2022-01-21 06:56] swiftyfinch commented on #117
You can use `swift build` and then `swift run`, but I'm not sure about the last one

[2022-01-21 07:08] devahmedshendy commented on #117
@swiftyfinch
When I put `"` likes this in command line it works:
[code]
We don't need the escaping slash for this command line, so we need Xcode to avoid sending `SYMROOT` with this escaping char.

[2022-01-21 07:30] devahmedshendy commented on #117
@swiftyfinch
Can we do it like this?
[code]

[2022-01-21 07:36] swiftyfinch commented on #117
Oh, I see. But I wonder what do you think about this variant?
`#"SYMROOT="$(PWD)/\#(String.buildFolder)""#`

[2022-01-21 07:40] devahmedshendy commented on #117
@swiftyfinch
Oh okay, you want to include `buildFolder` in space escaping part, looks fine.

Btw, I tried `swift build`, then `swift run` and didn't work:
[code]

[2022-01-21 07:41] devahmedshendy commented on #117
and same error from Xcode:
[code]

Then the solution we found is the issue

[2022-01-21 07:43] devahmedshendy commented on #117
Umm, never mind, something wrong in my end .. you can try it I think it will work with you.

[2022-01-21 07:47] devahmedshendy commented on #117
My feeling is the string is delivered to shell as it is, not translated first then delivered to shell. So I think `#` or `\` would be the same.

[2022-01-21 07:52] swiftyfinch commented on #117
Also, I think we can escape spaces. For example, we have a directory `My Test Project`.
So, we can replace all spaces with `\ ` and it will look like `My\ Test\ Project`.
It should suit the shell. Could you check that?

[2022-01-21 08:05] devahmedshendy commented on #117
@swiftyfinch I will search for how to tell `SwiftShell` to do this part.

[2022-01-21 08:33] swiftyfinch commented on #117
We can call `$PATH` before `xcodebuild` and then escape spaces with Swift

[2022-01-21 08:44] devahmedshendy commented on #117
What do you mean by calling `$PATH`?
By "before `xcodebuild`", you mean we do this in `XcodeBuildRunner`?

[2022-01-21 08:48] devahmedshendy commented on #117
We need to translate `$PWD` before sending it to shell.

[2022-01-21 08:51] devahmedshendy commented on #117
The issue is `$PWD` reflecting the current working directory for the current shell, which means it might be empty.

[2022-01-21 08:57] devahmedshendy commented on #117
I think we should use Swift way to get current working directory than let shell calculates it.

[2022-01-21 09:11] swiftyfinch commented on #117
🤯 Oh, year! I didn't think about it. We can use `Folder.current`

[2022-01-21 10:25] devahmedshendy commented on #117
Hmm, I think the issue is not related to how to get current working directory, our issue relates to we need to send `"` to shell without escaping it from Swift.

And, I put the project directory manually in arguments array, but `build` folder is not created, even I created it manually but still nothing is created under it. We should throw error if build folder is not created, I am still searching

[2022-01-21 10:31] devahmedshendy commented on #117
I hope there is no deprecated method somewhere not getting executed for macOS 10.15

[2022-01-21 11:04] devahmedshendy commented on #117
I will take a break then give it a try later.

[2022-01-21 13:04] swiftyfinch commented on #117
Please, check this solution:
`mint install swiftyfinch/rugby@bugfix/symroot_escape`

[2022-01-21 13:46] devahmedshendy commented on #117
@swiftyfinch Yeah I did that, and also I put the pwd path hardcoded and still no build directory is created, even with a project name has no spaces, but let me reinstall rugby and try it.

[2022-01-21 13:55] devahmedshendy commented on #117
@swiftyfinch Yeah yeah
![Screen Shot 2022-01-21 at 3 52 57 PM](https://user-images.githubusercontent.com/22206851/150538926-b5ff358b-8919-47a3-a030-89fc1826f0f5.png)

![Screen Shot 2022-01-21 at 3 54 12 PM](https://user-images.githubusercontent.com/22206851/150538943-0fc9ca2f-58ad-4423-8a79-6547f10dcffd.png)

But because I feel running from Xcode is not okay with me, I want to check running it fro

[2022-01-21 13:58] swiftyfinch commented on #117
Yeah, okay. Please, let me know what do you see in your log after this.
Because I thought that quotes broke your builds(

[2022-01-21 14:00] devahmedshendy commented on #117
Yeah as expected, didn't work:
[code]

Regarding this, yeah me too:

I used to see `rawBuild.log`, but no more see it.

[2022-01-21 14:01] devahmedshendy commented on #117
`build.log` is empty and `rawBuild.log` is not created.

[2022-01-21 14:03] devahmedshendy commented on #117
There is some step showing it is done, but it didn't.
I want to say this line is not executed but I cannot find how to prove if it is executed or not:
[code]

[2022-01-21 14:05] swiftyfinch commented on #117
Don't forget to use `rugby clean` before calling `rugby`.
It's kind of a bug. If you already have `.rugby/cache.yml` the build will be skipped.

[2022-01-21 14:07] devahmedshendy commented on #117
I delete `.rugby` and start clean by myself before reinstalling again now.

[2022-01-21 14:09] devahmedshendy commented on #117
@swiftyfinch
![Uploading Screen Shot 2022-01-21 at 4.08.33 PM.png…]()

[2022-01-21 14:10] devahmedshendy commented on #117
Oh btw, why `-scheme` has the value `RugbyPods`?

[2022-01-21 14:12] devahmedshendy commented on #117
@swiftyfinch
One moment, I had a breakpoint here, I couldn't test this breakpoint before I took a nap:
![Screen Shot 2022-01-21 at 4 11 37 PM](https://user-images.githubusercontent.com/22206851/150541403-e0b7eb0f-ab67-4905-be34-15f6c3a81c41.png)

[2022-01-21 14:14] swiftyfinch commented on #117
Could you try to remove `set -o pipefail &&`?

[2022-01-21 14:19] devahmedshendy commented on #117
@swiftyfinch I feel it works, the log is printing many lines starting with "building", it never took that time to finish. Will bring result here once finish.

[2022-01-21 14:34] swiftyfinch commented on #117
Yeah, `fish` doesn't have `set -o pipefail`. I found [this topic](https://github.com/fish-shell/fish-shell/issues/805).
Do you know any workaround?

[2022-01-21 14:36] swiftyfinch commented on #117
Oh, and does everything work fine?
It's strange for me that I can't see `.rugby/history` folder and `.rugby/build.log` file.

[2022-01-21 14:36] devahmedshendy commented on #117
@swiftyfinch
Now everthing works successfully, project builds, and runs on simulator without issue.

I just got those warnings by Xcode thought to share them with you in case it needs a change to be done in `rugby`, or if it's okay and no worry about it just apply recommended settings by xcode:
![Screen Shot 2022-01-21 at 4 30 27 PM](https://user-images.githubusercontent.com/22206851/150545033-9ca

[2022-01-21 14:38] devahmedshendy commented on #117
Here is the final content of `.rugby` directory (Other contents didn't appear in the beginning of building pods, don't know why):
[code]

[2022-01-21 14:39] devahmedshendy commented on #117
@swiftyfinch
I had some idea from google the use of pipefail, but can you tell me why you need it this part `set -o pipefail` maybe I can think how to search about this

[2022-01-21 14:39] swiftyfinch commented on #117
I think that's okay. Rugby 🏈 don't change such kinds of targets.

[2022-01-21 14:40] swiftyfinch commented on #117
That's okay too. Rugby 🏈 generate such files in the end.

[2022-01-21 14:40] devahmedshendy commented on #117
@swiftyfinch let me test everything again for project name with spaces.

[2022-01-21 14:43] swiftyfinch commented on #117
So the problem was in `set -o pipefail`? Could you use the version from the main branch without additional changes?
And then remove only this part `set -o pipefail` temporarily.

But I'm not sure how we can fix this for `fish` without removing this part.

[2022-01-21 14:45] devahmedshendy commented on #117
@swiftyfinch Oh I see I see, with the `"` escaping, okay, the space escape of your branch is working fine now, but once finish I will revert to last commit and remove just this part.

[2022-01-21 14:46] devahmedshendy commented on #117
But, what do you want to achieve by this `set -o pipefail` so I can think with you about it?

[2022-01-21 15:02] devahmedshendy commented on #117
@swiftyfinch
Here it is:
I wanted to say that $PWD wouldn't work with fish but thought swift does force using bash shell, and I found `getCurrentShell()` does return `$SHELL` which is a fishshell in my machine:
![Screen Shot 2022-01-21 at 4 54 41 PM](https://user-images.githubusercontent.com/22206851/150549258-b1d1f3dd-6a2c-4b79-9ab2-569d38a7bf95.png)

![Screen Shot 2022-01-21 at 4 55 04 PM](https

[2022-01-21 15:15] swiftyfinch commented on #117
Rugby has another command `Shell` and you can use any shell command as part of Rugby plan.
I think we should not force bash here.

Could you try again `mint install swiftyfinch/rugby@bugfix/symroot_escape`?

I tried to break TestProject without `set -e pipefail`, but it looks like it's not necessary part.
More info [here](https://stackoverflow.com/posts/56023234/revisions)

[2022-01-21 15:25] devahmedshendy commented on #117
@swiftyfinch Sorry for this annoying comment, but you forgot to see last screenshots I shared, it says `$(...)` won't work with fish.

[2022-01-21 15:28] swiftyfinch commented on #117
I removed `$PWD` in `bugfix/symroot_escape` branch. I think it should help.
Or do I misunderstand something here?

[2022-01-21 15:30] devahmedshendy commented on #117
@swiftyfinch Oh okay my mistake, it will be fine, let me finish testing and  get the result.

[2022-01-21 15:43] devahmedshendy commented on #117
@swiftyfinch Worked, I think you can safely approve this solution .. for now 😅.

[2022-01-21 15:51] devahmedshendy commented on #117
@swiftyfinch
Btw, I would love to learn/improve so I can add more contribution for "To Do" as state in the roadmap, and ask you for more keywords/topics to learn for "To Do", but macOS 10.15 won't help and no need to support it for the future of the project.

[2022-01-21 16:00] swiftyfinch commented on #117
OK, feel free 👍

[2022-01-21 16:19] devahmedshendy commented on #117
@swiftyfinch
Btw, since rugby now supports Xcode 12.4, it makes sense to support macOS 10.15 platform for development, but because I found other new projects require macOS 11.0 because of new features of SDKs (macOS or iOS) I thought it won't be good for the future of rugby .. but you know better.

[2022-01-21 16:22] #117 closed

[2022-01-21 16:31] swiftyfinch commented on #117
I think we will see how it's going)

[2022-01-21 16:41] devahmedshendy commented on #117
@swiftyfinch alright, I will be happy to make more contribution, let me know then.

[2022-01-25 14:49] imWildCat opened #123 "🔭 Build simulator binaries for both x86_64 and arm64"
## Is your feature request related to a problem? Please describe.
If we want to put the build cache of rugby on a cache server, we need to support both x86_64 for Intel Macs and arm64 for Apple Silicon Macs.

Currently, if we run `rugby cache -s sim sim -a x86_64 arm64`, it will only build single target (arm64).

## Describe the solution you'd like

Not sure whether there's a way to build both x86

[2022-01-25 23:40] imWildCat commented on #123
Sure! Thanks for the reply! Since there's already a ticket tracking the processing, I'm closing this one.

[2022-01-25 23:40] #123 closed

[2022-01-28 15:57] blastmann opened #125 "🐛 Build failed because of duplicate symbols if we use `--force_load` in xcconfig"
## To Reproduce
Steps to reproduce the behavior:

1. Create a empty project
2. Integrate a pod will use `-force_load` in `OTHER_LDFLAGS`
3. Run `rugby` and build
4. Build failed because of duplicate symbols

## Expected behavior

It should build successfully.

## Screenshots

![image](https://user-images.githubusercontent.com/2032369/151579431-18e406e9-2bfb-4173-be00-a88ce7727321.png)

## Environm

[2022-01-28 16:38] swiftyfinch commented on #125
@batman Hello! Thank you for details. As I can see you already have the solution.
I wonder if you ready to make a pull request? Let me know

[2022-01-29 15:51] blastmann commented on #125
Sure, I will try to make a PR later.

[2022-01-30 11:04] swiftyfinch commented on #125
As I understand Xcode considers these are different paths:
[code]
But they are the same, so we get `duplicate symbol` error while building.

I checked out your pull request and there is a problem with `$SRCROOT`.
`$SRCROOT` can be like this `$GIT_ROOT/.` or like this `$GIT_ROOT/$PROJECT_DIR/.`.

I see only two solutions:
1. We can add a new variable to the main Xcode project from the workspace. So

[2022-02-01 18:34] swiftyfinch commented on #125
@blastmann Hey, could you try this fix?
[code]

[2022-02-02 18:39] #112 closed

[2022-02-02 18:48] swiftyfinch commented on #111
Feel free to reopen the issue if you have more information

[2022-02-03 07:45] Lutzifer commented on #112
@swiftyfinch Thanks a lot!

[2022-02-03 08:24] swiftyfinch commented on #112
@Lutzifer You're quite welcome!

[2022-02-05 12:30] blastmann commented on #125
Yep, I just pick this up this morning, it seems adding another  variable like `$RUGBY_PATH` is a better solution.

[2022-02-06 05:07] #125 closed

[2022-02-06 05:19] swiftyfinch commented on #125
OK, we are done with this 🚀

You can use `main` branch right now. I'm going to release the new version a bit later.
[code]

[2022-02-09 10:06] blastmann opened #134 "Pod with unit test bundle resource build failed after `rugby cache`"
## Describe the bug

Pod with unit test bundle resource build failed after `rugby cache`.

Look like the `FilePatcher` won't patch the subspec target.

## To Reproduce
Steps to reproduce the behavior:

1. Download the sample project: [podWithTestSpec.zip](https://github.com/swiftyfinch/Rugby/files/8031566/podWithTestSpec.zip)
2. Execute `pod install && rugby`
3. Build target `testPod-Unit-Tests` a

[2022-02-10 09:35] swiftyfinch commented on #134
Hello! Oh, I see. I think you are right, we need to use product names with target names in patcher regex.

[2022-02-10 09:36] swiftyfinch commented on #134
I'll check it out week

[2022-02-10 19:22] swiftyfinch commented on #134
@blastmann Could you check this branch `bugfix/patch-products`?

[2022-02-11 02:51] blastmann commented on #134
This branch `bugfix/patch-products` works perfectly.

[2022-02-11 05:06] swiftyfinch commented on #134
OK, I'll open pull request soon. But I need some time for regress.

[2022-02-11 16:04] blastmann commented on #134
I have issue with some other cases, but I can't reproduce it with a new project. I will provide a new sample project when I reproduced.

[2022-02-19 21:47] fedejordan opened #136 "For some pods the `PODS_ROOT` value is null"
## Did you already try Rugby doctor?
Yes

## Describe the bug
I'm testing rugby integration in my project and seems that for some pods the `PODS_ROOT` environment value is null.
The failure is in the `xcodebuild` command.

If I replace the `${PODS_ROOT}` value with the absolute one (with my user and the project path) its working for these group of pods. The other pods that I have in my project don

[2022-02-20 15:43] swiftyfinch commented on #136
@fedejordan Hello! Thank you so much for the detailed description 👍

I tried to reproduce this issue in TestProject here `demo/issue-136`.
But it works well for me. Could you try to break TestProject base on this branch?

Also, I will run regress on this branch. Let's see how it will be:
https://github.com/swiftyfinch/Rugby/actions/runs/1872330571

[2022-02-20 15:47] swiftyfinch commented on #136
In the last version of Rugby we don't use `${PODS_ROOT}`. Only an absolute path to `.rugby` folder.
So it looks strange to me and unfortunately, I don't have any ideas for now.

[2022-02-21 08:44] swiftyfinch commented on #136
https://github.com/swiftyfinch/Rugby/actions/runs/1872330571

Pipeline failed, I'll check it 👀

[2022-02-21 18:05] fedejordan commented on #136
Also I have noted that I have to replace all `import SomePod` with `import Pods_MyProject` does it make sense? If I don't do it I get errors like `No such module SomePod`

[2022-02-21 18:06] fedejordan commented on #136
I know but seems that the value is null for these pods. Maybe there is another setting to these pods in my project

[2022-02-21 18:08] fedejordan commented on #136
In my Podfile I have these versions:
[code]

Sorry I forgot the part that these are being installed though Segment

[2022-02-21 20:12] fedejordan commented on #136
I tried to compile the `demo/issue-136` branch and I got this error:

![image](https://user-images.githubusercontent.com/5657224/155020499-015f7c80-3dcb-4b61-b16b-4535e786cb91.png)

do I have to change my Xcode version?

[2022-02-21 21:10] fedejordan commented on #136
I got an update. Just created an empty project with all the pods in my project Podfile. Run `bundle exec pod install && rugby`, opened Xcode and it built.

[2022-02-22 09:53] #134 closed

[2022-02-22 09:55] swiftyfinch commented on #134
@blastmann I've merged pull request 🚢
Feel free to reopen this issue if you have another case or just open the new one.

[2022-02-22 17:26] swiftyfinch commented on #136
Do we still have an issue here? Or I just will check the failed GitHub pipeline.

[2022-02-22 17:52] swiftyfinch commented on #136
As I see something is wrong with `pod 'Jumio Mobile SDK/NetverifyFace+iProov', '3.9.1'` in TestProject.
But it's not Rugby issue, because I got the same error without Rugby.

Referenced from: \~/Library/Developer/CoreSimulator/Devices/3FB60792-B8D1-4F87-B677-145CD899A3A6/data/Containers/Bundle/Application/7353E177-8DB1-41CF-9151-B5C5849A2539/TestProjectUITests-Runner.app/PlugIns/TestProjectUITests

[2022-02-22 19:54] swiftyfinch commented on #136
Now pipeline is green without `pod 'Jumio Mobile SDK/NetverifyFace+iProov', '3.9.1'`
https://github.com/swiftyfinch/Rugby/actions/runs/1883113344

It looks like this pod contains some issues because UI tests were broken.

[2022-02-22 22:48] fedejordan commented on #136
I could make it work for a empty project, but don't know why in my real project I keep getting this error `No such module SomeModule`.
Tried cleaning project, deleting derived data, closed and open Xcode, `rugby clean`

[2022-02-23 08:24] swiftyfinch commented on #136
Do you have some specific settings in your Podfile? I think it can be an issue

[2022-03-02 16:48] swiftyfinch commented on #111
Yeah, I see. Thank you for your answer.

But we can't limit the plan with only one drop command. Someone already can use several drop commands in one plan. So we need a more general solution. The same with other different fields of each command of Rugby. There can be corner cases. But I think I understand your idea.

Right now It looks like a complex feature request for me.
So, let's reopen it, bu

[2022-03-14 07:42] lakshminaidu opened #139 "multi(Watch, Widget) target extension failed: framework not found Alamofire"
## Did you already try Rugby doctor?
Use `rugby doctor` as a self-diagnostic tool.

## Describe the bug
Almofire compiler error on watch target.

## To Reproduce
Steps to reproduce the behavior:
1. add watch and widget targets and almofire pods for all targets
2. install rugby
3. Alomofire is not found for watch and widget
4. See an error

## Expected behavior
Should run the project which is not h

[2022-03-14 16:52] swiftyfinch commented on #139
Hello, please check out this discussion https://github.com/swiftyfinch/Rugby/discussions/36#discussioncomment-1033537

[2022-03-26 08:22] swiftyfinch commented on #136
@fedejordan Hello! Do you have any updates?

I've made some changes in the `main` branch. So, I wonder probably it will fix your issues.
You can update Rugby like this:
[code]

[2022-03-26 08:30] swiftyfinch commented on #139
Also, I've added this limitation to the main page:
https://github.com/swiftyfinch/Rugby/blob/main/README.md#known-limitations

So, it's not a bug. Nowadays it's by design.
You can open a feature request and feel free to contribute if you like.

[2022-03-26 08:30] #139 closed

[2022-03-26 12:40] fedejordan commented on #136
Hi! I didn’t take the time to test it again. But will do and keep you updated. Thanks!

[2022-04-16 14:50] denandreychuk opened #145 "🔭 Обзор Rugby на русском"
Решил поделиться видео с обзором Rugby. Возможно это поможет кому-то лучше понять как работает CLI, поэтому просто оставлю его здесь :)  Так же, если у @swiftyfinch есть желание, то ссылочку можно добавить куда то в readme, я буду рад!

<a href="https://youtu.be/ohIFW0b6s84" title="Music Caster Video Demo">
  <p align="left">
    <img width="50%" src="https://img.youtube.com/vi/ohIFW0b6s84/maxresd

[2022-05-13 17:21] shreeshask opened #147 "Rugby not working if we use Flutter inside project."
## Did you already try Rugby doctor?
Use `rugby doctor` as a self-diagnostic tool.

## Describe the bug
- If i use rugby without flutter integration it will not have other pod dependencies showing in pods target.
- But if use with flutter it will add all the pods that flutter needs to the pods target and it is failing. Below attached ss.
<img width="995" alt="Screenshot 2022-05-13 at 10 45 25 PM"

[2022-05-13 17:24] #147 closed

[2022-05-13 17:25] shreesha-kedilaya opened #148 "🐛 Rugby not working if we use Flutter inside project."
## Describe the bug
- If i use rugby without flutter integration it will not have other pod dependencies showing in pods target.
- But if use with flutter it will add all the pods that flutter needs to the pods target and it is failing. Below attached ss.
<img width="995" alt="Screenshot 2022-05-13 at 10 45 25 PM" src="https://user-images.githubusercontent.com/75058896/168334772-f67c438c-a2d7-452b

[2022-05-14 12:19] swiftyfinch commented on #148
Hello! Could you break TestProject from this repository and open merge request?
It will help me to investigate this issue. I'm not sure when I can look into Flutter installation guide and I don't have Flutter on my macbook.

[2022-05-16 13:50] shreesha-kedilaya commented on #148
@swiftyfinch Created a PR https://github.com/swiftyfinch/Rugby/pull/149. Please check this. And also please run `make setup_flutter` to install all flutter dependencies before running `pod install && rugby`

[2022-05-16 19:06] swiftyfinch commented on #148
Thank you @shreesha-kedilaya! I will check it.

[2022-05-17 17:08] swiftyfinch commented on #148
Sorry, I have some problems with brew:
[code]

Probably, I will return to this only on weekend. Let me know if y have some solutions.
I already tried different Xcode versions, checked CLT, reinstall brew.

[2022-05-17 17:16] shreesha-kedilaya commented on #148
Which brew version are you using? @swiftyfinch

[2022-05-17 19:09] shreesha-kedilaya commented on #148
@swiftyfinch Created another PR [https://github.com/swiftyfinch/Rugby/pull/150](url).

You can install flutter from [this](https://docs.flutter.dev/get-started/install?gclid=CjwKCAjwj42UBhAAEiwACIhADr45YEmcx4HZe-eH9S0b3LEYnxIyM4N-jywfJkqbkrd-a4UF3scrKBoCw60QAvD_BwE&gclsrc=aw.ds) link. Download zip and unzip. Update your path variables. Then you are setup.

Then you can run `make setup_flutter` or

[2022-05-18 08:10] swiftyfinch commented on #148
@shreesha-kedilaya Thanks a lot! You've done so much!
Finally, I've managed to reproduce this issue.
I will try to come back with a solution.

[2022-05-18 10:06] marlonrichert opened #151 "🐛 Unable to install Rugby: `swift package resolve` fails on `xcbeautify`"
[code]

[2022-05-18 10:35] swiftyfinch commented on #151
@marlonrichert Could you try again? Probably, there were some temporary issues with xcbeautify.
[code]
I've checked it right now and it looks good for me.

[2022-05-19 18:07] swiftyfinch commented on #148
@shreesha-kedilaya You can use `rugby -e FirebaseCrashlytics`.
I didn't find better solution.

Also, I have another one issue:
[code]

[2022-05-20 14:41] shreesha-kedilaya commented on #148
@swiftyfinch This solution works for me. That issue is maybe because you are not using fvm for flutter.

Will be waiting for better solution. But huge thanks for this workaround.

[2022-05-21 10:48] swiftyfinch commented on #148
As I understand the problem is in Flutter Firebase integration.

In public headers of binary we don't have such header:
<img width="632" alt="Screenshot 2022-05-21 at 15 29 38" src="https://user-images.githubusercontent.com/64660122/169648092-242c255e-8b40-4aca-aa7f-fbbd93cd9e8c.png">

<img width="288" alt="Screenshot 2022-05-21 at 15 29 56" src="https://user-images.githubusercontent.com/64660122/

[2022-05-21 19:00] swiftyfinch commented on #151
@marlonrichert Feel free to reopen this issue if the problem is still exists.

[2022-05-23 13:01] swiftyfinch commented on #136
@fedejordan Feel free to reopen the issue if it is still reproduced

[2022-05-23 13:01] #136 closed

[2022-05-23 14:36] shreesha-kedilaya commented on #148
Any reason why we are not actually flutter side dependencies. I think the problem is residing here. Im assuming your build/cache pipeline is failing here?

[2022-05-24 03:39] swiftyfinch commented on #148
What I have already checked:
* Rugby works as expected here ✅
* CocoaPods also works perfectly including Firebase pods ✅
* As I see the problem only in Flutter Firebase integration part 🚫

Probably, you can find some issues like this: https://github.com/firebase/flutterfire/issues/8756 and it will help you.
Or maybe you can ask there how to use it as binary and why it doesn't work in such way.

Or

[2022-05-24 05:19] shreesha-kedilaya commented on #148
@swiftyfinch We will use `--exclude FirebaseCrashlytics`. But found discrepancy in pod targets with flutter and without flutter integration

Without flutter it only has target `Pods-FlutterRugbyIntegration`
<img width="536" alt="Screenshot 2022-05-24 at 10 45 01 AM" src="https://user-images.githubusercontent.com/16717916/169954308-16aed55b-8bf4-48a5-a6fd-96c2da95482e.png">

With flutter it has all

[2022-05-24 06:45] swiftyfinch commented on #148
@shreesha-kedilaya Yeah, it's fine. Rugby caches only pods targets except root ones like `Pods-*`. And it knows nothing about Flutter targets.

[2022-05-24 16:28] shreesha-kedilaya commented on #148
@swiftyfinch please look at this PR https://github.com/swiftyfinch/Rugby/pull/152. I found something strange. We had both local and remote pods. But you were only cacheing remote pods. So i merged both and then ran the command. It is working in our project. Please check this. Please refer below ss for reference
<img width="468" alt="Screenshot 2022-05-24 at 9 56 31 PM" src="https://user-images.git

[2022-05-24 18:51] swiftyfinch commented on #148
@shreesha-kedilaya Oh, yeah) that works for me too.
But you do not need to make such changes. Just use `rugby --focus ""`.
https://github.com/swiftyfinch/Rugby/blob/main/Docs/Cache.md#build-local-pods

I'm not sure if caching local pods is correct solution for you case.
But that's already something)

[2022-05-25 07:34] shreesha-kedilaya commented on #148
Thanks so much @swiftyfinch for this. This also works. Will integrate this in our project. This helps a lot. It reduced 30 - 40 % of our build time.

[2022-05-25 08:20] swiftyfinch commented on #148
@shreesha-kedilaya You're welcome! Glad to hear it!

[2022-05-27 06:24] swiftyfinch commented on #148
@shreesha-kedilaya Feel free to reopen this issue if the problem is still exists.
Also, I will close your pull requests #149 #150 #152

[2022-05-27 06:24] #148 closed

[2022-05-31 07:41] marlonrichert commented on #151
@swiftyfinch Still the same error:
[code]

[2022-05-31 07:41] marlonrichert commented on #151
@swiftyfinch I'm unable to reopen the issue, by the way. I think only you can do that.

[2022-05-31 08:44] knbx opened #153 "🔭 Using relative paths"
First of all, I wanted to say thanks. This project looks really nice, early testing indicated it cuts our build time in half!

## Is your feature request related to a problem? Please describe.
Our repo has the pods folder checked in (which is somewhat [recommended by the cocoapods team](https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control)).

[2022-05-31 14:24] swiftyfinch commented on #153
Hello! Thank you for detailed request.
I think we can add flag like `rugby cache --relative-paths` and keep previous behaviour.

[2022-06-03 12:27] marlonrichert commented on #151
Not 100% sure how to check that. I hope this is what you mean:

[code]

<br/>

macOS Monterey version 12.4 (21F79)

<br/>

[code]

<br/>

@swiftyfinch Could you try uninstalling both `xcbeautify` and `rugby` and then reinstalling `rugby`? I'm wondering if `xcbeautify` will then fail for you, too.

[2022-06-03 12:57] swiftyfinch commented on #151
That so strange( Yeah, it works correctly for me and other users. I have the same environment.

1. Do you have access to https://github.com/tuist/xcbeautify?
2. Could you try to remove mint and install it again? Maybe you have some issues with mint cache.

[2022-06-03 13:28] marlonrichert commented on #151
There: yonaskolb/Mint#240

[2022-06-03 18:03] swiftyfinch commented on #151
Thanks, I will subscirbe to that issue.
I have idea to share Rugby as binary, but I don't find good solution for this yet.

[2022-06-12 20:24] swiftyfinch commented on #151
@marlonrichert I've added [ability to download binary](https://github.com/swiftyfinch/Rugby#download-binary-with-homebrew-) with Homebrew.
So, you can use this way installation without Mint.

[2022-06-12 20:26] #151 closed

[2022-06-13 08:34] swiftyfinch opened #165 "🔭 Automate release process"
## Is your feature request related to a problem? Please describe.
There are a lot of routine tasks depending on the release process. It will be great to have an automated process. Also, it will be clearer and easier to release a new version for everyone.

## Describe the solution you'd like
- Add GitHub Actions workflow which triggers by pushing a new release tag. Compile binary, generate release

[2022-06-13 12:49] #165 closed

[2022-06-15 05:30] swiftyfinch opened #174 "🔭 Rollback"
## Is your feature request related to a problem? Please describe.
Sometimes we make a lot of tries to debug our `.rugby/plans.yml`, and after each try, we need to use the `pod install` command again and again. It’s so frustrating because this command takes a lot of time.

## Describe the solution you’d like
If we add the rollback command we can return to the initial state before using 🏈 Rugby fast

[2022-06-18 12:54] #174 closed

[2022-06-18 12:55] swiftyfinch commented on #174
This is ready, but hidden for some time

[2022-06-19 06:01] #153 closed

[2022-06-19 06:16] swiftyfinch commented on #153
@knbx Hey! You can try it from the main branch before the new release.
[code]

[2022-06-19 15:23] knbx commented on #153
Hey @swiftyfinch, I've tested the main branch and it looks great!

Thanks for speeding up our builds ;D

[2022-06-19 15:39] swiftyfinch commented on #153
You are welcome! 🚀

[2022-06-21 14:45] swiftyfinch commented on #59
Unfortunately, I couldn't get any answer. So I've decided to close this issue for a better time.
https://github.com/apple/swift-argument-parser/pull/317#issuecomment-922515350

[2022-06-21 14:45] #59 closed

[2022-08-04 11:03] manav1mg opened #182 "🐛 Cannot build rugby"
## Did you already try Rugby doctor?
Use `rugby doctor` as a self-diagnostic tool.

## Describe the bug
While building using rugby, i am facing issue.

## To Reproduce
Steps to reproduce the behavior:
1. Deleted derived folder
2. pod install && rugby

## Expected behavior
It should build pods.

## Screenshots
If applicable, add screenshots to help explain your problem.
<img width="564" alt="Screen

[2022-08-04 14:54] swiftyfinch commented on #182
Hello @manav1mg! I added `pod 'GoogleUtilities'` in Podfile of TestProject in this repository and rugby managed successfully build it.

<img width="426" alt="Screenshot 2022-08-04 at 19 51 11" src="https://user-images.githubusercontent.com/64660122/182877773-d9c174bb-c375-44bf-b553-f4a57b0c9ff8.png">

I can't reproduce this issue. Please, add additional information or try to break TestProject in t

[2022-08-15 19:04] mchirino89 opened #187 "🐛 Rugby fails"
## Did you already try Rugby doctor?
Yes, I followed all of the suggested steps and the issue persists.

## Describe the bug
Rugby isn't able to run successfully in the sample project

<img width="1615" alt="CleanShot 2022-08-15 at 3 48 40@2x" src="https://user-images.githubusercontent.com/1657723/184697115-1e3f6613-aabd-48f7-a0a1-e64327ce97a8.png">

At first I thought it was a problem similar to

[2022-08-16 14:52] swiftyfinch commented on #187
Hello @mchirino89!

I can't reproduce this issue. I downloaded your project and followed your steps, but everything is fine for me.
What version of Xcode do you use? Also, you can send your `.rugby/history` to this issue or to the email from my GitHub account.
The best way to reproduce the issue is using TestProject from this repository. You can fork Rugby, change this TestProject Podfile, and ope

[2022-08-16 20:05] mchirino89 commented on #187
Hey @swiftyfinch, thanks for the speedy response.

I'm using Xcode 13.4

I'll follow the steps you mentioned in order to see if I can replicate the bug on the CI.

I'll keep you posted.

Please, It's the less I can do.

[2022-08-16 20:30] mchirino89 commented on #187
It seems the bug got scared when It sensed you, I now got a perfect execution with the same dependencies on the empty test project

<img width="825" alt="CleanShot 2022-08-16 at 5 28 38@2x" src="https://user-images.githubusercontent.com/1657723/184978974-4c0cabbc-d963-4e2d-8ef3-edead2c040f2.png">

I'm going to fork this repo and try to break the CI with my exact same `Podfile`

[2022-08-17 05:24] swiftyfinch commented on #187
OK, let me know if the issue still exists 👍

[2022-08-22 15:40] mchirino89 commented on #187
Hey man! We're working on a workaround for this on our project. I think we can close this, thanks for the support!

[2022-08-22 15:40] #187 closed

[2022-08-22 16:00] swiftyfinch commented on #182
@manav1mg Hey! Do you have any updates here?
Can we close this issue?

[2022-08-24 16:59] fedejordan commented on #136
Another issue, when comparing my project with the TestProject (with all the pods that I have to use), some files are missing. Comparing `/Users/fjordan/Repositories/{TestProject/MyProject}/.rugby/build/{Debug/DevDebug}-iphonesimulator/TinyConstraints` build folder:

My project `Modules` folder

<img width="600" alt="headers2" src="https://user-images.githubusercontent.com/5657224/186477928-4bf10b3

[2022-08-24 18:16] swiftyfinch commented on #136
@fedejordan Hello! Rugby has an option `-c, --config` and you can pass any value there.

[code]

https://github.com/swiftyfinch/Rugby/blob/main/Docs/Cache.md#build-for-specific-configuration

In your case, it will be like this: `rugby cache -c DevDebug`.

Please, check it first of all. I hope it will solve all your problems 🤞

[2022-08-24 18:37] fedejordan commented on #136
I've just realized that after reviewing the source code of Rugby 😅.

After using `rugby --config DevDebug` it worked like a charm! Without the script to fix the `PODS_ROOT` issue (seems that it was related to some kind of file system problem then)

So all the problems were fixed!

I have a final question, when I reviewed the source code of the cache step I found this code:

[code]

is there some p

[2022-08-26 08:25] swiftyfinch commented on #136
I think that it can be unexpected what config will be used while running `rugby` command. Yeah, it can be the first from the configs list, but this list can be changed by somebody. And we get different behavior of the same `rugby` command.

Also, unfortunately, it will break back compatibility with the current implementation.

[2022-08-31 03:23] swiftyfinch commented on #182
@manav1mg Hey! I'm closing this issue due to inactivity.
Feel free to add more info and reopen it.

[2022-08-31 03:23] #182 closed

[2022-09-01 16:25] Parvinderjit opened #191 "🐛 Fail to run the rugby in particular environment"
## Did you already try Rugby doctor?
Yes tried it is not helpful. Or I am new to rugby. But it seems like it fails when there are multiple target in the projects and we are using chained dependencies.But  I am not sure

## Describe the bug
Try to run the attached project. There is one library in the project Mo-Engage. Which causing this issue

## To Reproduce
Steps to reproduce the behavior:
1. po

[2022-09-01 17:48] swiftyfinch commented on #191
Hello @Parvinderjit!

Sorry, but now 🏈 Rugby doesn't support different combinations of targets with/without `use_frameworks!`.
You can use `use_frameworks!` for all targets or for none of them.

[2022-09-02 08:11] Parvinderjit commented on #191
Thanks for the quick reply. But unfortunately not  able to run the project after setting the use_frameworks! globally. On of the framework is missing. What I checked is rugby is trying to look into another folder but I am not sure.

You can check the attached project for reference

[TestRugby 2.zip](https://github.com/swiftyfinch/Rugby/files/9476152/TestRugby.2.zip)

[2022-09-02 16:26] swiftyfinch commented on #191
@Parvinderjit I think you removed `.rugby/build` folder?
Please, use `rugby clean`. This command also removes `.rugby/cache.yml`.

[2022-09-07 05:37] Parvinderjit commented on #191
I removed it before sending it to you. Actually I found the issue. If the project has different configuration it is not allowing to run the build because when we are building the application it look for the framework in the path like .rugby/build/Debug-[iphonesimulator|iphoneos] etc. But what if the user created multiple configuration. You can check in the attached project.
I removed the build fol

[2022-09-07 06:09] swiftyfinch commented on #191
@Parvinderjit Hey!
Please, check out this comment https://github.com/swiftyfinch/Rugby/issues/136#issuecomment-1226072126. I believe it can help you. Sometimes configuration can contain different build settings and we need to support building different ones.

And thank you for you investigations and useful attachments!

[2022-09-07 06:14] Parvinderjit commented on #191
Thank You. You did a great job. This tool is very helpful.

[2022-09-07 07:40] swiftyfinch commented on #191
Thanks a lot!

[2022-09-07 12:35] swiftyfinch commented on #191
@Parvinderjit Can we already close this issue?

[2022-09-11 13:58] swiftyfinch commented on #191
@Parvinderjit Hey! I'm closing this issue due to inactivity.
Feel free to add more info and reopen it if necessary.

[2022-09-11 13:58] #191 closed

[2022-09-12 12:07] makleso6 opened #192 "Add path argument"
## Is your feature request related to a problem? Please describe.
I am using fastlane on CI and after running `rugby` get error

[code]

## Describe the solution you'd like
add path argument to `rugby cache` eg `rugby cache --path 'path/to/pods/project/Pods.xcodeproj' `

Maybe I not found it in docs.
Thanks

[2022-09-12 15:51] swiftyfinch commented on #192
Hello @makleso6!
You can check 🏈 Rugby pipeline. I also use fastlane for regress testing.

Last Job: https://github.com/swiftyfinch/Rugby/runs/8097586669?check_suite_focus=true
Workflow: https://github.com/swiftyfinch/Rugby/blob/main/.github/workflows/regress.yml#L48
Fastlane: https://github.com/swiftyfinch/Rugby/blob/main/TestProject/Fastlane/Tests/Commands/Cache#L3

Everything should be fine. I'

[2022-09-13 09:38] makleso6 commented on #192
I add same script in my fast lane file, but get error

`⛔️ Error: Shell variable is empty.
 🚑 Call doctor for more help: rugby doctor
`

[2022-09-13 11:56] swiftyfinch commented on #192
Are you sure that you added rugby to `$PATH`?
https://github.com/swiftyfinch/Rugby/blob/main/.github/workflows/regress.yml#L56

[2022-09-13 13:03] makleso6 commented on #192
@swiftyfinch
$ echo $SHELL
▸ /bin/bash

$ echo $0
▸ sh

[2022-09-13 14:29] swiftyfinch commented on #192
Hmm, could you try to call it from fastlane?
[code]

[2022-09-14 09:37] makleso6 commented on #192
2022-09-13 17:47:18,989 (     0.000s) INFO   (cmd_6) [17:47:18]: -------------------------
2022-09-13 17:47:18,989 (     0.000s) INFO   (cmd_6) [17:47:18]: $ echo $SHELL
2022-09-13 17:47:18,997 (     0.008s) INFO   (cmd_6) [17:47:18]: ▸ /bin/bash
2022-09-13 17:47:18,997 (     0.000s) INFO   (cmd_6) [17:47:18]: ------------------------------------------------------------
2022-09-13 17:47:18,997 (

[2022-09-14 10:35] makleso6 commented on #192
there is no `SHELL` variable in `printenv` output 🤔

[2022-09-14 11:03] makleso6 commented on #192
I pass SHELL path manually in CI configuration and it work fine
thanks @swiftyfinch

[2022-09-14 11:03] #192 closed

[2022-09-14 11:59] swiftyfinch commented on #192
Great news, you're welcome!

[2022-09-14 14:13] makleso6 opened #193 "Use HOME_DIR for cache"
Is it possible to use HOME_DIR for cache instead current project folder?

[2022-09-15 05:49] swiftyfinch commented on #193
Hello! No, it's impossible in the current version. I think it will break backward compatibility right now.

I'm working on the next major release and I'm pretty sure that it will be as default behaviour there.
But I'm not ready to share this one and can't predict release date right now. Keep tuned in)

[2022-09-16 06:11] swiftyfinch commented on #193
@makleso6 Also, it can be related with #153 if you try to use 🏈 Rugby on CI.

[2022-09-16 09:20] makleso6 commented on #193
Thanks! At the moment I move `.rugby` folder from HOME_DIR to current project folder (Our CI supports only HOME_DIR  folders cache)
I close issue

[2022-09-16 09:20] #193 closed

[2022-09-22 19:44] harryt04 opened #196 "React Native compatibility?"
## Describe the bug
I get the following error message when I try to build my react native project after incorporating rugby into my project. Have react native projects been tested with Rugby? Everything seems to be working, but when I go to build, xcode can't find the rugby cached pods.

Do these error messages ring a bell? It seemed like the user from #117 had the same issue as me, but it wasn't

[2022-09-23 04:10] swiftyfinch commented on #196
Hello @harryt04!

Please, check out this comment https://github.com/swiftyfinch/Rugby/issues/136#issuecomment-1226072126. I believe it can help you. Sometimes configuration can contain different build settings and we need to support building different ones.

I see `Release` in your paths `.rugby/build/Release-iphonesimulator`. Did you pass `--config Release`? I should do it if you use scheme with

[2022-09-23 18:09] harryt04 commented on #196
Yes, I noticed the same and then looked more into the advanced config with plans. I landed on this plans file and after running the xcode plan, I was able to get it to build.
[code]

I got it building locally, but on the build server I'm currently getting this error for any package cached by rugby:
(I run the ci plan on the azure pipelines macos agent this is running on). Does this error ring a be

[2022-09-23 18:59] swiftyfinch commented on #196
Could you share command which you run?

And do you use `pod install` before each plan?
🏈 Rugby `cache` command removes targets after build. So, unfortunately you always need to use `pod install` + `rugby cache` together.

[2022-09-23 19:01] swiftyfinch commented on #196
And are you sure that you need to build `x86_64` for `iphoneos`? It looks strange.
May be you need to build `arm64` instead?

[2022-09-23 19:50] harryt04 commented on #196
Sure. The command I run on the build server (after installing node packages for my react native project) is: `cd ios && pod install && rugby plans --plan ci`. After this is run, I run the xcode build. It succeeds when I run it locally, but not on the build server :(

I can try arm64 and see if that helps. I don't think I've tried that yet.

[2022-09-23 20:33] harryt04 commented on #196
switching to arm64 on the build server solved my problem! Here's the final plans.yml file I landed on for anyone finding this by search later.

[code]

[2022-09-23 20:33] #196 closed

[2022-09-24 05:35] swiftyfinch commented on #196
@harryt04 Great news! Thank you for sharing the final solution!

[2022-10-05 09:53] r2-pro opened #198 "Rugby cache fails for Appboy - missing xcfilelist"
## Describe the bug
Rugby cache failing on

![Screenshot 2022-10-05 at 11 46 14](https://user-images.githubusercontent.com/105044156/194032109-6e007160-620a-4c99-bac6-006f37ac5cc4.png)

I have been looking for the mentioned filename in the whole project but I do not see where it is defined.
It does not help also when I exclude Appboy from being cached.

I would welcome any hints that could tell me

[2022-10-05 18:33] swiftyfinch commented on #198
@r2-pro Hello! I checked your log files, but I don't know the certain scenario to reproduce such issue.

Could you clone Rugby and try to reproduce this issue in `Rugby/TestProject`? You can add some of your pods to `TestProject/Podfile`.
If you can break this project and share the commit with me it will help me a lot.

As alternative, you can share your pods from Podfile and I can try to break an

[2022-10-10 09:08] r2-pro commented on #198
I have tried just using `rugby` with TestProject from rugby repo and the error is similar even without additional depdendency.

[build.log](https://github.com/swiftyfinch/Rugby/files/9744564/build.log)
[rawBuild.log](https://github.com/swiftyfinch/Rugby/files/9744565/rawBuild.log)
[rugby.log](https://github.com/swiftyfinch/Rugby/files/9744566/rugby.log)

It helps when I remove from Podfile:
[code]

[2022-10-10 16:29] swiftyfinch commented on #198
@r2-pro Thank you for more information! Yeah, I see.

But why do you need to exclude `arm64` for `simulator` and after that try to compile `arm64` for simulator with 🏈 Rugby?
It should not work in this way. If you try to build with Xcode you get `x86_64 simulator`, because you exclude `arm64` by yourself.

So, I think you need to follow these points:
1. If you want to build `arm64 simulator` you n

[2022-10-11 07:33] r2-pro commented on #198
I guess it is the first point, `arm64 simulator` or rather, whatever I need to prepare cache that can be used to run on a simulator on a M1 machine. Yet no matter what I do, the error is the same.

Also, have you thought to build `xcframeworks` instead with all architectures in place?

[2022-10-11 16:17] swiftyfinch commented on #198
OK, but did you remove your `EXCLUDED_ARCHS` for simulator from your `Podfile` and run `pod install` after that?
[code]
If you want to use arm64 for m1 simulator you need to do it.

Another option is use `x86_64` for `m1 simulator`. But it good only if you have problems with building your modules for `arm64 simulator`.

Also, I will try to reproduce this situation on CI. But I'm pretty sure, that

[2022-10-24 09:11] swiftyfinch commented on #198
@r2-pro Hello! Do you have any updates here?

[2022-11-07 19:54] michaellevel opened #204 "Rugby does not rebuild when changing rosetta mode"
## Did you already try Rugby doctor?
Yes

## Describe the bug
When I use rugby in non-rosetta mode then enable rosetta I get "Symbol not found for architecture arm64".

## To Reproduce
Steps to reproduce the behavior:
1. Turn off Rosetta mode
2. `rugby cache -s ios`
3. Turn on Rosetta mode
4. Compile

## Expected behavior
Rugby rebuild for the current architecture.

## Screenshots
If applicable, a

[2022-11-08 16:43] swiftyfinch commented on #204
Hello @michaellevel! First of all, thank you for your issue description.
Rugby uses `xcodebuild` under the hood and as I know it's not related to Xcode mode.

Are you sure that your problem in Rosetta mode? Have you already seen this documentation?
https://github.com/swiftyfinch/Rugby/blob/main/Docs/Cache.md

If you see an error `"Symbol not found for architecture arm64"`, I hope you just need to

[2022-11-08 16:45] swiftyfinch commented on #198
@r2-pro Sorry, I will close this issue soon.
Please, add more comments to make this discussion alive.

[2022-11-08 17:07] michaellevel commented on #204
I use rosetta mode now and I'm going back and forth and when I do Rugby doesn't rebuild anything and I see errors. Let me reproduce this and I'll get better steps.

I use `rugby cache -s ios` and the docs say the default for `ios` is `arm64`. Did I interpret that correctly?

[2022-11-08 17:26] swiftyfinch commented on #204
OK, no problem. Take your time. Also, have you try to check this behaviour without using Rugby? Is it the same or not?

Yes, that's right.

[2022-11-08 17:31] michaellevel commented on #204
To fix the issue, I run `pod install`. But to use rugby again I needed to delete all the folder. Using clean didn't work, but to be certain I'll reproduce. Great tool btw!

[2022-11-08 18:06] swiftyfinch commented on #204
Yeah, you should use `rugby rollback` or `pod install` between rugby calls.
Are we ready to close the issue?

🏈 Thank you! I'm working on the next major version. Stay tuned)

[2022-11-09 16:26] swiftyfinch commented on #198
@r2-pro Sorry, could you use the last Rugby 🏈 version and build TestProject again?
Also, please remove `DerivedData` folder and call `rugby clean` in TestProject folder.

I checked these logs and can't reproduce this even without removing `excluded_archs` from `post_install` hook in Podfile.
https://github.com/swiftyfinch/Rugby/issues/198#issuecomment-1273009473

This is my Podfile:
[code]

And I

[2022-11-13 10:16] swiftyfinch commented on #204
Feel free to add more information and reopen the issue

[2022-11-13 10:16] #204 closed